/*Phone*/ @media (min-width: 320px) {
  
/*NAV BAR*/
body {
    --header-height: 50px;

    margin: var(--header-height) 0 0 0;
}
.preload * {
    transition: none !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: #98c9b8;
    display: flex;
    z-index: 2;
    
}

.custom-shape-divider-top-1638015562 {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1638015562 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 25px;
}
.custom-shape-divider-top-1638015562 .shape-fill {
    fill: #98c9b8;
}

.header__button {
    width: var(--header-height);
    flex-shrink: 0;
    background: none;
    outline: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
}

.nav__links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100vh;
    width: 250px;
    background: #98c9b8;
    transform: translateX(-250px);
    transition: transform 0.3s;
}

.nav--open .nav__links {
    transform: translateX(0);
    box-shadow: 0 0 15px #698b7f;
}

.nav__link {
    display: flex;
    align-items: center;
    color: #e2e2e2;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
    background: transform 0.2s;
}

.nav__link > i {
    margin-right: 15px;
}

.nav__link--active {
    color: #efe3ff;
}

.nav__link--active,
.nav__link:hover {
    background: #698b7f;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
}

.nav--open .nav__overlay {
    visibility: visible;
    opacity: 1;
}



/*CUSTOM NAV BAR*/

#nav_flex {
  transform: translateY(0%);
}

#titlu, #motto, #acasa, #membri, #despre, #proiecte{
  transition: all 1s ease;
}
#acasa, #membri, #despre, #proiecte{
  transform: translateY(-200%);
}
#motto{
  transform: translateX(70%);
}
#titlu{
  transform: translateX(50%);
}


.grid-container {
  margin: 0px;

  border: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}
#nav_flex {
  z-index: 1;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: var(--header-height) 0 0 0;
  width: 100;
  background-color: #98c9b8;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
#titlu {
  justify-self: flex-start;
  margin-left: 1%;
  font-weight: bold;
  font-size: 30px;
  cursor:pointer;
  color:#000000;
	text-decoration:none;
}
#motto {
  opacity: 0.7;
  margin-right: 1%;
  margin-left: 1%;
  color:#ffffff;
  font-size: 20px;
}

/*DESIGN TOP*/

.custom-shape-divider-top-1638015561 {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1638015561 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 25px;
}
.custom-shape-divider-top-1638015561 .shape-fill {
    fill: #98c9b8;
}

/*TEXT TABS*/

.main-grid {
  font-family: Comic Sans MS, Comic Sans, cursive;
  row-gap: 50px;
  display: grid;
  grid-template-columns: 0.2fr 5fr 0.1fr 5fr 0.1fr 5fr 0.2fr;
  grid-template-rows: 0.1fr auto 0.05fr auto 0.05fr auto 0.05fr auto 0.1fr;
  grid-column: 1;
  grid-row: 3;
  background-color: #98c9b8; /*CBF1F5*/
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.category-title {
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-color: #856ea3; /*CBF1F5*/
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -20px;
  width: 100%;
  text-align: center;
}
.text-tab1{
  border-radius: 10px;  
  text-align: left;
  background-color: #856ea3;
  transition-duration: 0.4s;
  border: 5px solid #67557e;
  margin-top: -40px;
  margin-bottom: -40px;
}
.photo_1 {
  background-color: #98c9b8;
  grid-row: 2;
  grid-column: 1;
  border-radius: 10px;
  width: 88%;
  height: 300px;
  margin: 10px;
  text-align: center;
}


/*END DESIGN*/

.custom-shape-divider-bottom-1638203260 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1638203260 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}
.custom-shape-divider-bottom-1638203260 .shape-fill {
    fill: #98c9b8;
}

/*END DESIGN*/

.custom-shape-divider-bottom-1638203260 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1638203260 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 25px;
}
.custom-shape-divider-bottom-1638203260 .shape-fill {
    fill: #98c9b8;
}
}

/* Tablet */ @media (min-width: 768px) {

.header {
  transform: translateY(-200%);
}

#nav_flex, #titlu, #motto, #acasa, #membri, #despre, #proiecte{
  transform: translateX(0%);
}

/*CUSTOM NAV BAR*/

#nav_flex {
  transform: translateY(-0%);
}

/*Body*/
#main_body {
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-image: linear-gradient(to bottom, #556462, #546363, #536263, #526164, #516064, #515f64, #4d5b6c, #52586c, #525b64, #54566b, #58546a, #5b5268);
}

/*NAV BAR*/

.grid-container {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}
#nav_flex {
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100;
  background-color: #98c9b8; /*67B4D8*/
  font-family: Comic Sans MS, Comic Sans, cursive;
}
#titlu {
  justify-self: flex-start;
  margin-left: 7%;
  font-weight: bold;
  font-size: 30px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#000000;
	text-decoration:none;
}
#motto {
  opacity: 0.7;
  margin-right: auto;
  margin-left: 1%;
  color:#ffffff;
  font-size: 20px;
}
#acasa {
  margin-right: 2%;
  font-weight: 700;
  font-size: 20px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#000000;
	text-decoration:none;
}
#membri {
  margin-right: 2%;
  font-weight: 700;
  font-size: 20px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#000000;
	text-decoration:none;
}
#despre {
  margin-right: 2%;
  font-weight: 700;
  font-size: 20px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#000000;
	text-decoration:none;
}
#proiecte {
  margin-right: 10%;
  font-weight: 700;
  font-size: 20px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#d8faf8;
	text-decoration:none;
}

/*DESIGN TOP*/

.custom-shape-divider-top-1638015561 {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1638015561 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 55px;
}
.custom-shape-divider-top-1638015561 .shape-fill {
    fill: #98c9b8;
}

/*TEXT TABS*/

.main-grid {
  font-family: Comic Sans MS, Comic Sans, cursive;
  row-gap: 50px;
  display: grid;
  grid-template-columns: 0.2fr 5fr 0.1fr 5fr 0.1fr 5fr 0.2fr;
  grid-template-rows: 0.1fr auto 0.05fr auto 0.05fr auto 0.05fr auto 0.1fr;
  grid-column: 1;
  grid-row: 3;
  background-color: #98c9b8; /*CBF1F5*/
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.category-title {
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-color: #856ea3; /*CBF1F5*/
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -20px;
  width: 100%;
  text-align: center;
}
.text-tab1{
  border-radius: 10px;  
  text-align: left;
  background-color: #856ea3;
  transition-duration: 0.4s;
  border: 5px solid #67557e;
  margin-top: -40px;
  margin-bottom: -40px;
}
.photo_1 {
  background-color: #98c9b8;
  grid-row: 2;
  grid-column: 1;
  border-radius: 10px;
  width: 93.5%;
  height: 610px;
  margin: 10px;
  text-align: center;
}

/*END DESIGN*/

.custom-shape-divider-bottom-1638203260 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1638203260 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}
.custom-shape-divider-bottom-1638203260 .shape-fill {
    fill: #98c9b8;
}
}

/* PC */ @media (min-width: 1023px) {

/*CUSTOM NAV BAR*/
.header {
  transform: translateY(-200%);
}

#nav_flex, #titlu, #motto, #acasa, #membri, #despre, #proiecte{
  transform: translateX(0%);
}
#nav_flex {
  transform: translateY(-0%);
}

/*Body*/
#main_body {
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-image: linear-gradient(to bottom, #556462, #546363, #536263, #526164, #516064, #515f64, #4d5b6c, #52586c, #525b64, #54566b, #58546a, #5b5268);
}

/*NAV BAR*/

.grid-container {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}
#nav_flex {
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100;
  background-color: #98c9b8; /*67B4D8*/
  font-family: Comic Sans MS, Comic Sans, cursive;
}
#titlu {
  justify-self: flex-start;
  margin-left: 7%;
  font-weight: bold;
  font-size: 30px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#000000;
	text-decoration:none;
}
#motto {
  opacity: 0.7;
  margin-right: auto;
  margin-left: 1%;
  color:#ffffff;
  font-size: 20px;
}
#acasa {
  margin-right: 2%;
  font-weight: 700;
  font-size: 20px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#000000;
	text-decoration:none;
}
#membri {
  margin-right: 2%;
  font-weight: 700;
  font-size: 20px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#000000;
	text-decoration:none;
}
#despre {
  margin-right: 2%;
  font-weight: 700;
  font-size: 20px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#000000;
	text-decoration:none;
}
#proiecte {
  margin-right: 10%;
  font-weight: 700;
  font-size: 20px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#d8faf8;
	text-decoration:none;
}

/*DESIGN TOP*/

.custom-shape-divider-top-1638015561 {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1638015561 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 55px;
}
.custom-shape-divider-top-1638015561 .shape-fill {
    fill: #98c9b8;
}

/*TEXT TABS*/

.main-grid {
  font-family: Comic Sans MS, Comic Sans, cursive;
  row-gap: 50px;
  display: grid;
  grid-template-columns: 0.2fr 5fr 0.1fr 5fr 0.1fr 5fr 0.2fr;
  grid-template-rows: 0.1fr auto 0.05fr auto 0.05fr auto 0.05fr auto 0.1fr;
  grid-column: 1;
  grid-row: 3;
  background-color: #98c9b8; /*CBF1F5*/
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.category-title {
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-color: #856ea3; /*CBF1F5*/
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -20px;
  width: 100%;
  text-align: center;
}
.text-tab1{
  border-radius: 10px;  
  text-align: left;
  background-color: #856ea3;
  transition-duration: 0.4s;
  border: 5px solid #67557e;
  margin-top: -40px;
  margin-bottom: -40px;
}
.photo_1 {
  background-color: #98c9b8;
  grid-row: 2;
  grid-column: 1;
  border-radius: 10px;
  width: 93.5%;
  height: 500px;
  margin: 10px;
  text-align: center;
}

/*END DESIGN*/

.custom-shape-divider-bottom-1638203260 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1638203260 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}
.custom-shape-divider-bottom-1638203260 .shape-fill {
    fill: #98c9b8;
}
}

/* PC */ @media (min-width: 1440px) {

/*CUSTOM NAV BAR*/

.header {
  transform: translateY(-200%);
}

#nav_flex, #titlu, #motto, #acasa, #membri, #despre, #proiecte{
  transform: translateX(0%);
}

/*Body*/
#main_body {
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-image: linear-gradient(to bottom, #556462, #546363, #536263, #526164, #516064, #515f64, #4d5b6c, #52586c, #525b64, #54566b, #58546a, #5b5268);
}

/*NAV BAR*/

.grid-container {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}
#nav_flex {
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100;
  background-color: #98c9b8; /*67B4D8*/
  font-family: Comic Sans MS, Comic Sans, cursive;
}
#titlu {
  justify-self: flex-start;
  margin-left: 7%;
  font-weight: bold;
  font-size: 30px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#000000;
	text-decoration:none;
}
#motto {
  opacity: 0.7;
  margin-right: auto;
  margin-left: 1%;
  color:#ffffff;
  font-size: 20px;
}
#acasa {
  margin-right: 2%;
  font-weight: 700;
  font-size: 20px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#000000;
	text-decoration:none;
}
#membri {
  margin-right: 2%;
  font-weight: 700;
  font-size: 20px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#000000;
	text-decoration:none;
}
#despre {
  margin-right: 2%;
  font-weight: 700;
  font-size: 20px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#000000;
	text-decoration:none;
}
#proiecte {
  margin-right: 10%;
  font-weight: 700;
  font-size: 20px;
  background-color:#98c9b8;
  cursor:pointer;
  color:#d8faf8;
	text-decoration:none;
}

/*DESIGN TOP*/

.custom-shape-divider-top-1638015561 {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1638015561 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 55px;
}
.custom-shape-divider-top-1638015561 .shape-fill {
    fill: #98c9b8;
}

/*TEXT TABS*/

.main-grid {
  font-family: Comic Sans MS, Comic Sans, cursive;
  row-gap: 50px;
  display: grid;
  grid-template-columns: 0.2fr 5fr 0.1fr 5fr 0.1fr 5fr 0.2fr;
  grid-template-rows: 0.1fr auto 0.05fr auto 0.05fr auto 0.05fr auto 0.1fr;
  grid-column: 1;
  grid-row: 3;
  background-color: #98c9b8; /*CBF1F5*/
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.category-title {
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-color: #856ea3; /*CBF1F5*/
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -20px;
  width: 100%;
  text-align: center;
}
.text-tab1{
  border-radius: 10px;  
  text-align: left;
  background-color: #856ea3;
  transition-duration: 0.4s;
  border: 5px solid #67557e;
  margin-top: -40px;
  margin-bottom: -40px;
}
.photo_1 {
  background-color: #98c9b8;
  grid-row: 2;
  grid-column: 1;
  border-radius: 10px;
  width: 96.5%;
  height: 330px;
  margin: 10px;
}
/*END DESIGN*/

.custom-shape-divider-bottom-1638203260 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1638203260 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}
.custom-shape-divider-bottom-1638203260 .shape-fill {
    fill: #98c9b8;
}
}
